<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>
        Hello World!
    </title>
</head>
<body>
<form th:action="@{/carrito.html}" method="post" th:object="${correo}">
<h1 inline="text">Hello </h1> <input class="form-control" type="text" value="" th:field="*{admincorreo}" th:placeholder="${#httpServletRequest.remoteUser}">
    <input type="submit" value="Ingresar">
</form>
</body>
<html>